<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{bio/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>입고관리</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>입고관리</h2>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">입고번호</span>
                        <input type="text" class="form-control" th:value="${dto.receivingId}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">제품코드</span>
                        <input type="text" class="form-control" th:value="${dto.productCode}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">제품명</span>
                        <input type="text" class="form-control" th:value="${dto.productName}" id="productName" name="productName" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">입고수량</span>
                        <input type="text" class="form-control" th:value="${dto.quantity}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">유통기한</span>
                        <input type="text" class="form-control" th:value="${dto.shelfLife}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">납품업체</span>
                        <input type="text" class="form-control" th:value="${dto.supplier}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">창고위치</span>
                        <input type="text" class="form-control" th:value="${dto.warehouseLocation}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">입고일자</span>
                        <input type="text" class="form-control" th:value="${dto.receivingDate}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">등록자</span>
                        <input type="text" class="form-control" th:value="${dto.registeredBy}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">등록일자</span>
                        <input type="text" class="form-control" th:value="${dto.registeredDate}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">입고완료</span>
                        <input type="text" class="form-control"
                               th:value="${dto.isReceived ? '입고완료' : '입고대기'}" readonly>
                    </div>
                    <div class="my-4">
                        <div class="float-end" th:with="link = ${bioInvReceivingPageRequestDTO.getLink()}">
                            <a th:href="|@{/bio/BioInvReceivingmodify(receivingId=${dto.receivingId})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">수 정</button>
                            </a>
                            <a th:href="|@{/bio/BioInvReceivinglist}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">목 록</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">


</script>
