<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{bio/basic.html}">
<head>
    <title>Board Read</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 th:text="${dto.productName}" readonly></h2>
                </div>

                <div class="card-body">
                    <div style="display: flex; align-items: center;"><img th:src="@{/img/{imageName}(imageName=${dto.imageFileName})}" alt="image" class="img-fluid"/>
                    <p style="margin-left:10px; margin-bottom:0px;" th:text="${dto.description}" readonly></p></div>
                </div>

                <div class="card-body">
                    <input type="hidden" name="bioNo" th:value="${dto.bioNo}">

                    <div class="input-group mb-3">
                        <span class="input-group-text">제품코드</span>
                        <input type="text" class="form-control" th:value="${dto.productCode}" readonly>
                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text">카테고리</span>
                        <input type="text" class="form-control" th:value="${dto.currentCategory}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">포장단위</span>
                        <input type="text" class="form-control" th:value="${dto.packagingUnit}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">효능군</span>
                        <input type="text" class="form-control" th:value="${dto.efficacyGroup}" readonly>
                    </div>



                    <div class="input-group mb-3">
                        <span class="input-group-text">생산유형</span>
                        <input type="text" class="form-control" th:value="${dto.productionType}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">등록자</span>
                        <input type="text" class="form-control" th:value="${dto.registeredBy}" readonly>
                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text">등록일자</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">수정일자</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>



                    <!--버튼틀-->
                    <div class="my-4">
                        <div class="float-end" th:with="link = ${bioProductPageRequestDTO.getLink()}">
                            <a th:href="|@{/bio/bioProductList}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">목 록</button>
                            </a>
                            <a th:href="|@{/bio/bioProductModify}?productCode=${dto.productCode}&${link}|" class="text-decoration-none">
                            <!--<a th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none"> -->
                                <button type="button" class="btn btn-primary">수 정</button>
                            </a>
                        </div>
                    </div>
                </div><!--end card body-->
            </div> <!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>

<script layout:fragment="script" th:inline="javascript">
    //list 버튼 클릭(jquery)
    $(".listBtn").on("click", function(e){
        e.preventDefault();
        e.stopPropagation();
        window.location.href = `/bio/bioProductList`;
    });
            //modify 후 alert
        const result = [[${result}]]
        if(result){
          alert("작업이 완료되었습니다.");
        }
</script>
