<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{bio/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Employees Read</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>사원관리</h2>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">사원번호</span>
                        <input type="text" class="form-control" th:value="${dto.employeeid}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">이름</span>
                        <input type="text" class="form-control" th:value="${dto.employeename}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">비밀번호</span>
                        <input type="text" class="form-control" th:value="${dto.password}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">입사일자</span>
                        <input type="text" class="form-control" th:value="${dto.hiredate}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">퇴사일자</span>
                        <input type="text" class="form-control" th:value="${dto.terminationdate}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">부서</span>
                        <input type="text" class="form-control" th:value="${dto.department}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">직책</span>
                        <input type="text" class="form-control" th:value="${dto.position}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">번호</span>
                        <input type="text" class="form-control" th:value="${dto.contactnumber}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">작성자</span>
                        <input type="text" class="form-control" th:value="${dto.registeredby}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:100px; justify-content: center;">등록일자</span>
                        <input type="text" class="form-control" th:value="${dto.registereddate}" readonly>
                    </div>
                    <div class="my-4">
                        <div class="float-end" th:with="link = ${employeesPageRequestDTO.getLink()}">
                            <a th:href="|@{/bio/Employeesmodify(eno=${dto.eno})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">수 정</button>
                            </a>
                            <a th:href="|@{/bio/Employeeslist}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">목 록</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">


</script>