<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{bio/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Employees Modify</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>사원관리</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/bio/Employeesmodify}" method="post" id="f1">
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">ENO</span>
                            <input type="text" class="form-control" th:value="${dto.eno}" name="eno" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">사원번호</span>
                            <input type="text" class="form-control" th:value="${dto.employeeid}" name="employeeid">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">이름</span>
                            <input type="text" class="form-control" th:value="${dto.employeename}" name="employeename">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">비밀번호</span>
                            <input type="text" class="form-control" th:value="${dto.password}" name="password">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">입사일자</span>
                            <input type="date" class="form-control" th:value="${dto.hiredate}" name="hiredate">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">퇴사일자</span>
                            <input type="date" class="form-control" th:value="${dto.terminationdate}" name="terminationdate">
                        </div>
                        <!-- 부서 선택 -->
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">부서</span>
                            <select name="department" class="form-select">
                                <option value="인사팀" th:selected="${dto.department == '인사팀'}">인사팀</option>
                                <option value="물류팀" th:selected="${dto.department == '물류팀'}">물류팀</option>
                                <option value="생산팀" th:selected="${dto.department == '생산팀'}">생산팀</option>
                                <option value="연구팀" th:selected="${dto.department == '연구팀'}">연구팀</option>
                                <option value="영업팀" th:selected="${dto.department == '영업팀'}">영업팀</option>
                                <option value="법무팀" th:selected="${dto.department == '법무팀'}">법무팀</option>
                                <option value="구매팀" th:selected="${dto.department == '구매팀'}">구매팀</option>
                                <option value="재무팀" th:selected="${dto.department == '재무팀'}">재무팀</option>
                                <option value="admin" th:selected="${dto.department == 'admin'}">admin</option>
                            </select>
                        </div>
                        <!-- 직책 선택 -->
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">직책</span>
                            <select name="position" class="form-select">
                                <option value="사원" th:selected="${dto.position == '사원'}">사원</option>
                                <option value="대리" th:selected="${dto.position == '대리'}">대리</option>
                                <option value="과장" th:selected="${dto.position == '과장'}">과장</option>
                                <option value="차장" th:selected="${dto.position == '차장'}">차장</option>
                                <option value="부장" th:selected="${dto.position == '부장'}">부장</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">번호</span>
                            <input type="text" class="form-control" th:value="${dto.contactnumber}" name="contactnumber">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">작성자</span>
                            <input type="text" class="form-control" th:value="${dto.registeredby}" name="registeredby">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">등록일자</span>
                            <input type="text" class="form-control" th:value="${dto.registereddate}" readonly>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">목 록</button>
                                <button type="button" class="btn btn-secondary modBtn">수 정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭 제</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    //error 처리
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }

    //수정 버튼
    const link = [[${employeesPageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")

    document.querySelector(".modBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/bio/Employeesmodify?${link}`
        formObj.method = 'post'
        formObj.submit()
    },false)

    //List버튼 처리
    document.querySelector(".listBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/bio/Employeeslist?${link}`
    },false)

    //삭제 처리버튼
    document.querySelector(".removeBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/bio/Employeesremove`
        formObj.method = 'post'
        formObj.submit()
    },false)
</script>