<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card shadow-lg border-0 rounded-lg">
                            <div class="card-header">
                                <h2 class="text-center font-weight-bold">Bio One</h2>
                            </div>
                            <div class="card-body">
                                <form th:method="post" th:action="@{/bio/login}" th:object="${loginDTO}">
                                    <div class="form-group">
                                        <label th:for="employeeid"></label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                               th:field="*{employeeid}" aria-describedby="emailHelp" placeholder="아이디를 입력하세요"/>
                                    </div>
                                    <div class="form-group">
                                        <label th:for="password"></label>
                                        <input type="password" th:field="*{password}" class="form-control"
                                               id="exampleInputPassword1" placeholder="비밀번호를 입력하세요">
                                    </div>
                                    <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="rememberId"
                                                   th:field="*{rememberId}"/>
                                            <label class="form-check-label" for="rememberId">아이디 저장</label>
                                    </div>

                                    <div th:if="${error}" class="text-danger">
                                        <p th:text="${error}"></p>
                                    </div>
                                    <div style="text-align: right;">
                                        <button id="loginBtn" type="submit" class="btn btn-primary">로그인</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>
